<div class="navbar-fixed">
  <nav>
     <div class="nav-wrapper">
       <a href="/" class="brand-logo">DS Service</a>
       <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
       <ul class="right hide-on-med-and-down">
       </ul>
     </div>
  </nav>
</div>
<ul class="side-nav" id="mobile-demo">
  <ul>
  </ul>
</ul>
<ul id="slide-out" class="side-nav">
</ul>
