extends layout


block content
  .main.container
    .row
      .col.l12.m12.col-md-offset-3
        h3.display-4.m-b-2= title
    .row
      .col.l12.md12.col-md-offset-3
        //- div.col-m-12=message
    .row
      .col.s12.m6#supplements
      .col.s12.m6#supPreloader( style="float: left;left: 0;clear: both;")
        <div>Fetching Diploma Supplements... </div>
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
      
      
    .row
      .col.l6.m6.col-md-offset-3
        a.btn.btn-primary(href="/login") Back 

append scripts
  script(defer, type="text/javascript" src="http://canvg.github.io/canvg/rgbcolor.js")
  script(defer, type="text/javascript" src="http://canvg.github.io/canvg/StackBlur.js")
  script(defer, type="text/javascript" src="http://canvg.github.io/canvg/canvg.js")
  script
    include ../scripts/qrScript.js
  script
    include ../scripts/emailScript.js
  script
    include ../scripts/renderSupplements.js
  script
    include ../scripts/viewAllSupplements.js
  script.
    var onModalHide = function() {
      $(".sendEmail").show();
      $(".modalMessage").show();
      $(".preloader").hide();
      $(".qrCode").hide();
    };
    $(document).ready(function(){
        $('.modal').modal({
            complete : onModalHide  
        });
    });
