.navbar-fixed {
    position: relative;
    height: 56px;
    z-index: 998;
}

.modulesCard.collapsible-body{
  padding: 0.5rem!important;
}

/*
 this is not rendered look for the navbar.css inside the dist folder
 */
